@import url('https://fonts.googleapis.com/css2? family= Inter & family= Roboto:ital,wght@0,400;0,700;1,400;1,700 & display=swap');
@font-face {
    font-family: RobotoRegular;
    src: url(../../assetes/fonts/Roboto-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: RobotoBold;
    src: url(../../assetes/fonts/Roboto-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
.wrapper{
    max-width: 1146px;
    margin: 0 auto;
}
.container{
    display: flex;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px
}
.icon__text{
    font-size: 24px;
    font-family: RobotoBold;
    font-style: bold;
    margin-left: 6px;
}
.logo__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
}
.icon__logo{
    height: 27px;
    width: 27px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    width: 267px;
    margin-left: 20px;
}
.menu__navigation{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}
.menu__object{
    list-style-type: none;
    font-family: RobotoRegular;
    font-size: 14px;
}
.menu__entry{
    display: flex;
    align-items: center;
}
.login{
    background-color: white;
    border: 0;
    padding: 10px 15px;
    font-family: RobotoRegular;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}
.place__an__ad{
    color: white;
    background-color: #256EEB;
    border: 0px;
    border-radius: 5px;
    font-family: RobotoRegular;
    font-size: 14px;
    height: 36px;
    width: 161px;
}
.link__menu-auto{
    color: black;
}
.link__menu{
    text-decoration: none;
    color: black;
}
.link__menu:hover{
    text-decoration: underline;
}
.string__search{
    margin-top: 12px;
}
.search__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    max-height: 45px;
    background-color: #256EEB;
    padding: 3px;
}
.search__main input{
    border-radius: 5px;
    border: 0px;
    font-family: RobotoRegular;
    font-size: 14px;
    width: 100%;
    size: 14px;
    padding: 14px 0 14px 21.45px;
}
.search__img{
    margin-left: 20px;
}
.search__text{
    background-color: #256EEB;
    color: white;
    border: 0px;
    font-size: 16px;
    font-family: RobotoRegular;
    margin-right: 20px;
    margin-left: 6px;
    padding: 0px;
}
.recommendations{
    font-family: RobotoBold;
    font-size: 24px;
    margin-top: 42px;
}
.cards{
    max-width: 264px;
    margin-right: 30px;
    padding: 0;
}
.cards__first{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    max-height: 298px;
    max-width: 852px;
    padding: 0;
}
.image__cards{
    max-height: 178px;
    border-radius: 10px;
}
.name__card{
    font-family: RobotoBold;
    font-size: 16px;
    color: #256EEB;
    margin-top: 9px;
    margin: 0px;
}
.name__info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 260px;
    margin-top: 12px;
    padding: 0;
}
.price{
    font-family: RobotoBold;
    font-size: 16px;
    padding: 0;
    margin-top: 5px;
}
.price__first{
    margin: 0px;
    margin-bottom: 10px;
}
.card__description{
    font-family: RobotoRegular;
    font-size: 14px;
    color: #C4C4C4;
    margin: 0px;
    margin-bottom: 4px;
}
.cards__second{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-height: 298px;
    max-width: 852px;
    padding: 0;
}
.cards__link{
    text-decoration: none;
    color: black;
}
.cards__link:hover{
    color:#4381eb ;
}
.big__container{
    display: flex;
}
.main__services{
    margin-left: 30px;
    max-width: 231px;
    margin-top: 42px;
}
.services{
    font-family: RobotoBold;
    font-size: 18px;
    margin-bottom: 23px;
}
.main__title{
    font-family: RobotoBold;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 7px;
}
.main__desc{
    font-family: RobotoRegular;
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 0px;
}
.footer__nav{
    padding: 0px;
}
.footer__line{
    margin-top: 12px;
    margin-bottom: 0px;
}
.footer__text{
    font-family: RobotoRegular;
    font-size: 14px;
    color: #C4C4C4;
    margin-top: 18px;
    margin-bottom: 5px;
}
.footer__item{
    font-family: RobotoRegular;
    font-size: 12px;
    list-style-type: none;
    margin-bottom: 5px;
}
.footer__link{
    text-decoration: none;
    color: black;
}
.footer__link:hover{
    color: #4381eb;
}